.add-button-floating {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.popover {
	min-width: 500px;
	min-height: 550px;
	/*background-color: aliceblue;*/
}

.add-beverage-form-group {
	margin: 5px 5px 10px 5px;
}