// Globals
input,
button
  font-family: inherit

.list-item-grid
  margin: 0
  background: lightcyan
  display: grid
  grid-template: 1fr 1fr 1.5fr 1fr / 1.5fr 1.75fr 1fr
  grid-gap: 5px
  grid-template-areas: "qty dates toggles" "size-loc dates toggles" "styles longtext longtext" "action-buttons action-buttons del-button"

.grid-cell
  display: flex
  background: lightyellow
  flex-direction: column
  align-content: flex-start
  border: 1px solid gray
  border-radius: 3px
  margin: 0

.list-item-key
  border: 1px solid darkorange
  display: flex
  align-items: center
  justify-content: flex-start
  white-space: nowrap
  word-wrap: break-spaces
  min-width: 75px
  img
    display: inline
    margin: 0 0.3rem
  label
    margin: 0

.list-item-value
  //border: 1px solid saddlebrown
  cursor: inherit

.input-group
  display: grid
  grid-template: 1fr / 3fr 7fr
  margin: auto
  .list-item-key
    margin: 0
  .list-item-value,
  .list-item-value-icon
    margin: auto 0  // center vertically

.input-qty-container
  grid-area: qty
  display: flex
  flex-direction: row
  justify-content: center
  flex-grow: 0

.input-dates-container
  grid-area: dates
  //border: 1px solid blue
  display: flex
  flex-direction: column
  label
    width: 120px
    border: 1px solid blue
    min-width: 120px

.input-styles-container
  grid-area: styles

.input-clickable-toggles-container
  grid-area: toggles
  display: flex
  flex-direction: column
  margin: 0
  .list-item-key
    min-width: 115px
  .list-item-value-icon  //clickable toggles
    max-width: 18px
    max-height: 18px
    cursor: pointer


.input-size-loc-container
  grid-area: size-loc
  display: flex
  flex-direction: row

.input-qty-container
  input
    width: 65px

.input-bottle-date
  .list-item-key
    min-width: 115px
  input
    max-width: 140px

.input-styles-container
  select
    width: 170px

.input-longtext-container
  grid-area: longtext
  display: flex
  flex-direction: column
  input
    min-width: 300px

.input-picklist-sm
  width: 110px

.input-buttons-container
  grid-area: action-buttons
  border: 1px solid red

.del-button
  grid-area: del-button
  border: 1px solid blue

.blank
  grid-area: blank

.list-item-key-icon
  max-height: 15px
  max-width: 20px
  min-height: 10px
  min-width: 10px
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(92%) contrast(83%)
  //SVG color conversion tool: https://codepen.io/sosuke/pen/Pjoqqp
  //- Prefix with brightness(0) saturate(100%) to ensure all SVGs start completely black.
  //- Now we can set SVG color to #808080 gray.

.button-container
  //border: 1px solid gray
  display: flex
  flex-direction: row
  align-items: center
  //justify-content: flex-start
  margin: 0 0.35rem
  button
    margin-right: 0.35rem

.del-button
  justify-content: flex-end
  button
    margin-right: 0
    border: 2px solid transparent
