// Variables
$font-stack-headings: 'Montserrat', sans-serif
$font-stack-body: 'Lato', sans-serif

$color-primary: #0068d5
$color-primary-dark: #003fa3
$color-primary-light: #5f95ff
$color-primary-lighter: #69a4ff
$color-primary-lighterer: #c3deff
$color-primary-lightest: #e6f2ff
$color-on-primary: #f5f5f5
$color-on-primary-light: #121212
$color-on-primary-dark: #f5f5f5
$color-on-primary-dark-alt: #f0f0f0

$color-secondary: #ccc
$color-background: #fff
$color-on-background: #121212
$color-background-darker-1: #eee
$color-background-darker-2: #ccc
$color-background-darker-3: #aaa
$color-danger: #B81F11
$color-danger-light: #d78f8c
$color-danger-dark: #8C180D
$color-on-danger: #f5f5f5
$color-on-danger-light: #121212
$color-on-danger-dark: #f5f5f5

$color-primary-complementary: #d56e00
$color-primary-analogous-1: #00d1d5
$color-primary-analogous-2: #0400d5
$color-primary-triadic-1: #6e00d5
$color-primary-triadic-2: #d50067

$header-height: 3rem
$footer-height: $header-height - 1rem

// Globals
*
  box-sizing: border-box

body
  margin: 0 auto
  font-family: $font-stack-body
  font-weight: 400
  font-size: 16px
  color: $color-on-background
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  //background-image: url('background/moroccan-flower.png')
  //background-image: url('background/circles-light.png')
  //opacity: 0.15

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

h1
  font-family: $font-stack-headings
  font-weight: 500
  font-size: 3rem

img
  max-width: 100%
  display: block

header,
footer
  width: 100%
  margin: 0 auto
  padding: 0 1rem
  cursor: default
  background: $color-primary-dark
  color: $color-on-primary-dark

  // Flexbox to center children vertically when height is <100%
  //display: flex
  //flex-direction: column
  //justify-content: center

  .header-content,
  .footer-content
    display: flex
    flex-direction: row
    justify-content: flex-start
    height: 100%

//*** Flexbox Debugging ***
//header,
//footer
//  border: 1px solid darkred
//  .header-content,
//  .footer-content
//    border: 1px solid lightgreen
//
//  .header-content > *,
//  .footer-content > *
//    border: 1px solid darkorange
//*** Flexbox Debugging ***

header
  height: $header-height
  min-height: 40px
  font-size: 1.5rem

  .header-content
    a
      margin-right: 1rem
      color: $color-secondary
      opacity: 0.85
      text-decoration: none
    .header-active
      color: $color-on-primary-dark-alt
      opacity: 1
    a:hover,
    a:focus,
    .header-hovers
      color: $color-background
  .header-content > *
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: -0.25rem
    padding: 0 0.25rem


footer
  height: $footer-height
  min-height: 30px
  font-size: 0.85rem
  margin: 0
  .footer-content
    display: flex
    flex-direction: column
    justify-content: center
    p
      margin: 0
    a
      color: inherit
    a:hover,
    a:focus
      color: inherit
    img
      max-height: 2vh
  //.footer-content > *
  //  border: 1px red solid


// App Contents
.app-container
  height: 100vh
  width: 100vw
  max-width: 1200px
  margin: 0 auto

  display: flex
  flex-direction: column
  justify-content: space-between

.content-container
  width: 100%
  display: initial
  margin-bottom: auto


// Page Title
.page-title
  margin: 0 auto
  cursor: default
  overflow: hidden
  white-space: nowrap
  hr
    margin-top: 0
  img
    max-height: 100px
    display: inline-block
    margin-right: 2px

// Content
.content-container
  padding: 6px 6px
  text-align: -webkit-left


// Add Beverage Form
.btn-add-floating
  position: fixed
  bottom: $footer-height + 1rem
  right: 1rem

.popover
  min-width: 500px
  min-height: 550px

// TODO: Add tooltips to icons https://www.bitdegree.org/learn/css-tooltip
.add-beverage-form-group
  margin: 5px 5px 10px 5px

// Form Controls
.btn
  height: 2.5rem
  text-align: center
  margin: 0
  padding: 0.35rem 0.9rem
  border-radius: 5px

.btn-sm
  height: 2rem
  text-align: center
  margin: 0.1rem 0.2rem 0.1rem 0
  padding: 0.28rem 0.8rem
  border-radius: 5px

.btn-primary
  background: $color-primary
  color: $color-on-primary
  border: 2px solid $color-background
.btn-primary:hover,
.btn-primary:focus
  border: 2px solid $color-primary-light
.btn-primary:active
  border: 2px solid $color-primary-dark

.btn-primary-outline
  background: $color-primary-lighterer
  color: $color-on-primary-light
  font-weight: 600
  border: 1px solid $color-background
.btn-primary-outline:hover,
.btn-primary-outline:focus
  //border: 2px solid $color-primary
  background: $color-primary-lighter
  //border: 1px solid $color-primary
.btn-primary-outline:active
  background: $color-primary-lighter
  //border: 1px solid $color-primary
  //border: 2px solid $color-primary-dark

.btn-reset-outline
  background: $color-background-darker-1
  color: $color-on-background
  font-weight: 400
  border: 2px solid $color-background
.btn-reset-outline:hover,
.btn-reset-outline:focus
  background: $color-background-darker-2
  border: 2px solid $color-background
.btn-reset-outline:active
  background: $color-background-darker-3
  border: 2px solid $color-background

.btn-danger
  background: $color-danger
  color: $color-on-danger
  border: 2px solid $color-background
.btn-danger:hover,
.btn-danger:focus
  border: 2px solid $color-danger-light
.btn-danger:active
  border: 2px solid $color-danger-dark
