// Variables
$font-stack: Helvetica, sans-serif
$color-primary: #333333
$color-secondary: #aaaaaa
$footer-height: 5vh
$header-height: $footer-height + 1vh

// Globals
*
  box-sizing: border-box

body
  margin: 0 auto
  font-family: 'Ubuntu', sans-serif
  font-size: 1rem

img
  max-width: 100%
  display: block

header,
footer
  margin: 0 auto
  width: 100%
  background: rgb(0, 123, 255)
  color: rgb(255, 255, 255)
  cursor: default
  padding: 0 1rem

  display: flex
  flex-direction: column
  justify-content: center

  .header-content,
  .footer-content
    display: flex
    flex-direction: row
    justify-content: left
    align-content: center
    //border: 1px lightgreen solid

header
  height: $header-height
  min-height: 6vh
  font-size: 1.35rem
  border: 1px red solid

  .header-active
    color: #FFFFFF

  .header-content
    a
      height: min-content
      width: min-content
      margin-right: 1rem
      color: $color-secondary

footer
  height: $footer-height
  min-height: 5vh
  font-size: 0.85rem
  margin: 0
  border: 1px red solid

  .footer-content
    p
      margin: 0
      height: min-content
    a
      color: inherit
    a:hover,
    a:focus
      color: inherit
    img
      max-height: 2vh


// App Contents
.app-container
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100vh
  width: 100vw
  max-width: 1200px

.content-container
  width: 100%
  display: initial
  margin: 0 auto


// Page Title
.page-title
  cursor: default

  img
    max-height: 100px

// Content
.content-container
  padding: 6px 6px
  text-align: -webkit-left


// Add Beverage Form
.add-button-floating
  position: fixed
  bottom: $footer-height + 1vh
  right: 1vh

.popover
  min-width: 500px
  min-height: 550px

// TODO: Add tooltips to icons https://www.bitdegree.org/learn/css-tooltip
.add-beverage-form-group
  margin: 5px 5px 10px 5px

// Forms
.delete-button
  float: right
  margin: 1vh 1vw

.expanded-list-item-container
  display: flex
  flex-direction: column
  align-items: flex-start
