// Variables
$font-stack-headings: 'Montserrat', sans-serif
$font-stack-body: 'Lato', sans-serif
$color-primary: #333333
$color-secondary: #bbb
$color-danger: rgb(220, 53, 70)
$footer-height: 4vh
$header-height: $footer-height + 1.5vh

// Globals
*
  box-sizing: border-box

body
  margin: 0 auto
  font-family: $font-stack-body
  font-weight: 400
  font-size: 16px
  color: $color-primary
  overflow-x: hidden
  //background-image: url('background/moroccan-flower.png')
  //background-image: url('background/circles-light.png')
  //opacity: 0.15

h1
  font-family: $font-stack-headings
  font-weight: 500
  font-size: 3rem

img
  max-width: 100%
  display: block

header,
footer
  width: 100%
  margin: 0 auto
  padding: 0 1rem
  cursor: default
  background: rgb(0, 123, 255)
  color: rgb(255, 255, 255)

  // Flexbox to center children vertically when height is <100%
  //display: flex
  //flex-direction: column
  //justify-content: center

  .header-content,
  .footer-content
    display: flex
    flex-direction: row
    justify-content: flex-start
    height: 100%

//*** Flexbox Debugging ***
//header,
//footer
//  border: 1px solid darkred
//  .header-content,
//  .footer-content
//    border: 1px solid lightgreen
//
//  .header-content > *,
//  .footer-content > *
//    border: 1px solid darkorange
//*** Flexbox Debugging ***

header
  height: $header-height
  min-height: 40px
  font-size: 1.5rem

  .header-content
    a
      margin-right: 1rem
      color: $color-secondary
      text-decoration: none
    .header-active
      color: #eee
    a:hover,
    a:focus,
    .header-hovers
      color: #fff
  .header-content > *
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: -0.25rem
    padding: 0 0.25rem


footer
  height: $footer-height
  min-height: 30px
  font-size: 0.85rem
  margin: 0
  .footer-content
    display: flex
    flex-direction: column
    justify-content: center
    p
      margin: 0
    a
      color: inherit
    a:hover,
    a:focus
      color: inherit
    img
      max-height: 2vh
  //.footer-content > *
  //  border: 1px red solid


// App Contents
.app-container
  height: 100vh
  width: 100vw
  max-width: 1200px
  margin: 0 auto

  display: flex
  flex-direction: column
  justify-content: space-between

.content-container
  width: 100%
  display: initial
  margin-bottom: auto


// Page Title
.page-title
  margin: 0 auto
  cursor: default
  hr
    margin-top: 0
  img
    max-height: 100px
    display: inline-block
    margin-right: 2px

// Content
.content-container
  padding: 6px 6px
  text-align: -webkit-left


// Add Beverage Form
.add-button-floating
  position: fixed
  bottom: $footer-height + 1vh
  right: 1vh

.popover
  min-width: 500px
  min-height: 550px

// TODO: Add tooltips to icons https://www.bitdegree.org/learn/css-tooltip
.add-beverage-form-group
  margin: 5px 5px 10px 5px

// Forms
.btnn
  background: rgb(0, 105, 220)
  border: hidden
  border-radius: 5px  // rounded corners
  height: 36px
  line-height: 24px
  text-align: center
  color: #fff
  padding: 6px 12px

.btnn:hover,
.btnn:focus
  background: cornflowerblue
  border: 2px solid rgb(0, 105, 220)
.btnn:active
  color: white

.btn-del
  float: right
  margin: 1vh 1vw

.expanded-list-item-container
  display: flex
  flex-direction: column
  align-items: flex-start
