.app-container {
	font-style: normal;
	/*margin: 3px;*/
	/*width: auto;*/
	max-width: 1280px;
	text-align: -webkit-center;
	/*alignment: center;*/
}

.navbar-custom-container, .content-container, .footer-container {
	max-width: 1280px;
	margin: 0 auto;
	/*float: none !important;*/
	/*text-align: -webkit-center;*/
}

.content-container {
	padding: 6px 6px;
	text-align: -webkit-left;
}

.navbar-custom-container {
	margin-bottom: 20px;
}

.page-title {
	cursor: default;
}

.page-title img {
	max-height: 100px;
}

.picklist-tab-values {
	margin-top: 3px;
	width: auto;
}

.substyle-display {
	margin-left: 20px;
}

.list-item-template-container .delete-button {
	float: right;
	margin: 5px 5px;
}

.footer-container {
	font-size: small;
	margin: 40px 3px 10px;
	cursor: default;
	text-align: -webkit-left;
	vertical-align: text-bottom;
}

.footer-container a {
	color: inherit;
}

.footer-container img {
	max-height: 70px;
}
